*
{
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1
{
    font-size: xX-large;
    background-color: aliceblue;
}
.container {
    margin: 0 auto;
}
body
{
    background-color: cornflowerblue;
}

.container
{
    width: 50%;
    
}
.container
{
    display :grid;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
    gap: 100px;
}

button
{
    border-radius: 5px;
    border : 2px solid black;
    width: 100px;
    height: 50px;
}

button:hover
{
    background-color: cornflowerblue;
    color: aliceblue;
}

@media screen and (max-width : 500px)
{
    .container
    {
        display: block;
    }
}